#nav {
	height: 50px;
    width: 5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

#nav-links {
	display: flex;
	list-style: none;
	margin-right: 20px;
	margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
	padding: 1px;
	color: white;
	font-weight: bold;
    font-size: 30px;
    font-family: monospace;
}

#nav-links-deso{
 color: white;
	font-weight: bold;
    font-size: small;
       font-family: monospace;
}
#buttons {
	background: linear-gradient(135deg, #6699ff 0%, #ff3366 100%);
    color: azure;
    height: 60px !important;
    width: 80px !important;
    align-items: right;
}